.smoke {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 5;
  overflow: hidden;
  /* GPU acceleration */
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.smoke img {
  display: block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
